<div class="list--list">
	{{#each songs}}
		<p>
			{{title}} - by {{artist}} on the album {{album}}, year {{year}}
			<a class="editSong" data="{{id}}" href="#">Edit</a>
			<a class="deleteSong" data="{{id}}" href="#">Delete</a>
		</p>
	{{/each}}
</div>
